
    <div class = "container">
    <div class = "bootcamps">

    <h1>Candidates</h1>
    </div>
        <h3>Is this your bootcamp?</h3>
        <a class="btn btn-store smooth-scroll" href="/candidate-create/{{this.bootcampId}}">Create a profile</a>
    </div>
    <ul>
    {{#each candidate}}
    <div>
        <li class = "bootlist">
            <a href="/candidates/{{this.id}}">
                <h2>{{this.name}}</h2>
                <img src="{{this.pictureURL}}" alt="{{this.firstName}} {{this.lastName}}'s picture" width="150" id="bootImage">
            </a>
        </li>
    </div>

    {{/each}}
    </ul>
