<div>
  <img src="{{candidate.pictureURL}}" />
  <h3>{{candidate.firstName}}</h3>
  <h3>{{candidate.lastName}}</h3>
  <h3>{{candidate.email}}</h3>
  <a class="btn btn-primary" target="_blank" href="{{candidate.resumeURL}}">{{candidate.firstName}}'s Resume</a>
  <h3>{{candidate.city}}</h3>
  <h3>{{candidate.state}}</h3>
  <h3>{{candidate.courseFinish}}</h3>
  <p>{{candidate.bio}}</p>
  <p>{{candidate.skills}}</p>
</div>
